* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
}
header h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}
body {
/*    background:url("../images/back_3d.jpg") no-repeat scroll top center transparent;*/
}
#game_object {
    background-color: #ffffff;
    height: 360px;
    margin: 0 auto;
    /*position: relative;*/
    width: 360px;
}
.board{
    position: absolute;
    width: 360px;
    height: 360px;
    border: 2px solid #AAA8A2;
}
.board div {
    background: no-repeat scroll 0 0 #ffffff cover;
    /*background-image: url(panda.jpg);*/
    /*background-size: 100% 100%;*/
    cursor: pointer;
    height: 90px;
    line-height: 90px;
    position: absolute;
    text-align: center;
    width: 90px;

    /* css3 shadow */
    -moz-box-shadow: inset 0 0 20px #AAA8A2;
    -webkit-box-shadow: inset 0 0 20px #AAA8A2;
    -ms-box-shadow: inset 0 0 20px #AAA8A2;
    -o-box-shadow: inset 0 0 20px #AAA8A2;
    box-shadow: inset 0 0 20px #AAA8A2; 
}
.empty{
    background-image: none !important;
    background: #ffffff !important;
    box-shadow: inset 0 0 0 0 #555555 !important; 
}
.square{
    width: 90px;
    height: 90px;
    font-size: 50px;
    font-weight: bold;
    color: #ED2323;
   /* opacity: 1;
    transition-duration: 0.5s;*/
}
.square:hover{
    opacity: 0.6;
    box-shadow: inset 0 0 20px #F9AA00;
}
#reset, #auto, #numit, #change{
    height: 40px;
    width: 135px;
    /*transform: translateX(500px) translateY(50px);
    margin-left: auto;
    margin-right: auto;*/
}
#butt{
    height: 45px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(20px);
}